<% provide :title, t("groups.group") %>
<div class="courses">
  <div class="container">
    <div class="row">
      <!-- Courses Sidebar -->
      <%= render "menu" %>
      <!-- Courses Main Content -->
      <div class="col-lg-8">
        <center>
          <div class="sidebar_section_title"><%= t "groups.task_list" %></div>
        </center>
        <div class="courses_container">
          <div class="row courses_row">
            <% if current_user.leader? %>
              <% listTask = @group.tasks.order_gti_asc %>
              <% i =  listTask.blank? ? 1 : (listTask.first.group_task_id) - 1  %>
              <% listTask.each do |task| %>
                <% unless i == task.group_task_id %>
                  <% i = task.group_task_id %>
                  <%= render "tasks/task", task: task %>
                <% end %>
              <% end %>
            <% else %>
              <% @user_tasks.each do |task| %>
                  <%= render "tasks/task", task: task %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<%= render "tasks/new_task_modal" %>
