<% provide :title, t("groups.group") %>
<div class="courses">
  <div class="container">
    <div class="row">
      <!-- Courses Sidebar -->
      <div class="col-lg-4">
        <div class="sidebar">
          <!-- Categories -->
          <div class="sidebar_section">
            <div class="sidebar_section_title"><%= t "groups.main_function" %></div>
            <div class="sidebar_categories">
              <ul>
                <% if current_user.leader? %>
                  <li>
                    <%= link_to t("groups.create_task"), "#", "data-toggle": "modal",
                                "data-target": "#squarespaceModal" %>
                  </li>
                <% end %>
                <li><%= link_to t("groups.task_list"), "#" %></li>
                <li><%= link_to t("groups.member_list"), "#" %></li>
                <li><%= link_to t("groups.member_report"), "#" %></li>
                <li><%= link_to t("groups.statistic"), "#" %></li>
              </ul>
            </div>
          </div>
          <!-- Latest Course -->
          <div class="sidebar_section">
            <div class="courses_search_container">
              <%= form_for :search, url: search_path, html: {class: "courses_search_form d-flex flex-row align-items-center justify-content-start"} do |f| %>
                <%= f.text_field :name, class: "courses_search_input", placeholder: t("groups.search_member"), required: "required" %>
                <%= f.hidden_field :group, value: @group.id %>
                <%= f.submit t("groups.search"), class: "courses_search_button ml-auton" %>
              <% end %>
            </div>
            <div class="sidebar_section_title"><%= t "groups.members" %></div>
            <div class="sidebar_latest">
              <% @users.each do |user| %>
                <!-- Latest Course -->
                <div class="latest d-flex flex-row align-items-start justify-content-start">
                  <div class="latest_image">
                    <div><%= gravatar_for user, size: Settings.users.size_page %></div>
                  </div>
                  <div class="latest_content">
                    <div class="latest_title"><a href="course.html"><%= user.name %></a></div>
                    <div class="latest_price">
                      <% if user.in_group @group %>
                        <%= link_to add_member_path(group_member: {group_id: @group.id,
                                                                   member_id: user.id}), method: :post do %>
                          <i class="fa fa-user-plus" aria-hidden="true"> add </i>
                        <% end %>
                      <% else %>
                        <%= link_to remove_member_path(group_member: {group_id: @group.id,
                                                                   member_id: user.id}), method: :delete,
                                    data: {confirm: t("users.delete.confirm")} do %>
                          <i class="fa fa-user-times" aria-hidden="true"> <%= t "users.delete.delete" %></i>

                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
              <%= will_paginate @users %>
            </div>
          </div>
        </div>
      </div>
      <!-- Courses Main Content -->
      <div class="col-lg-8">
        <center>
          <div class="sidebar_section_title"><%= t "groups.task_list" %></div>
        </center>
        <div class="courses_container">
          <div class="row courses_row">
            <% if current_user.leader? %>
              <% listTask = @group.tasks.order_gti_asc %>
              <% i =  listTask.blank? ? 1 : (listTask.first.group_task_id) - 1  %>
              <% listTask.each do |task| %>
                <% unless i == task.group_task_id %>
                  <% i = task.group_task_id %>
                  <%= render "tasks/task", task: task %>
                <% end %>
              <% end %>
            <% else %>
              <% current_user.tasks.where(group_id: @group.id).each do |task| %>
                  <%= render "tasks/task", task: task %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span><span class="sr-only"></span></button>
        <h3 class="modal-title" id="lineModalLabel">
          <%= t "groups.create_task" %>
      </div>
      <div class="modal-body">
        <%= form_for @task do |f| %>
          <%= f.hidden_field :group_id, value: @group.id %>
          <div class="form-group">
            <label for="exampleInputEmail1"><%= t "task.title" %></label>
            <%= f.text_field :title, class: "form-control", placeholder: t("task.title") %>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"><%= t "groups.description" %></label>
            <%= f.text_field :content, class: "form-control", placeholder: t("groups.description") %>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"><%= t "task.deadline" %></label>
            <br>
            <center>
              <%= f.date_field :start_date %> -
              <%= f.date_field :end_date %>
            </center>
          </div>
          <hr>
          <div id="child_fields">
            <li id="add-date">
              <%= link_to t("task.add_subtask"), "#", id: "addbut", format: :js %>
            </li>
            <%= f.fields_for :subtasks do |builder| %>
              <li>
                <%= render "subtask", ff: builder %>
              </li>
            <% end %>
            <%= f.submit t("task.submit"), class: "btn btn-lg btn-primary btn-block btn-signin" %>
        <% end %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
