<% provide :title, t(".signup") %>
<div class="container">
  <div class="card card-container">
    <center><h3><%= t ".signup" %></h3></center>
    <%= form_for @user, url: signup_path, html: {class: "form-signin"} do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.text_field :name, class: "form-control", placeholder: t(".name") %>
      <%= f.email_field :email, class: "form-control", placeholder: t(".email_address") %>
      <%= f.password_field :password, class: "form-control", placeholder: t(".password") %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: t(".password_confirmation") %>
      <div class="form-group">
        <%= f.select(:role, [t(".member"), t(".leader")], {include_blank: t(".choose_your_role")},
                     {:class => "form-control"}) %>
      </div>
      <%= f.submit t(".create_my_account"), class: "btn btn-lg btn-primary btn-block btn-signin" %>
    <% end %>
  </div>
</div>
