<%= form_for @report, remote: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="fix_report">
  <div class="container">
    <div>
      <br style="clear:both">
      <div class="form-group col-md-4 control_content_report">
        <label id="messageLabel" for="message"><%= t "report.write_new" %></label>
        <%= f.text_area :content, placeholder: t("report.content_demo"), class: "form-control input-sm content_report " %>
      </div>
      <br style="clear:both">
      <div class="form-group col-md-2 control_report_submit", id = "submit_post">
        <%= f.submit t("report.post"), class: "form-control input-sm btn btn-success disabled submit_report" %>
      </div>
    </div>
  </div>
  </div>
<% end %>
