<footer class="footer">
  <div class="footer_background"></div>
  <div class="container">
    <div class="row footer_row">
      <div class="col">
        <div class="footer_content">
          <div class="row">

            <div class="col-lg-3 footer_col">

              <!-- Footer About -->
              <div class="footer_section footer_about">
                <div class="footer_logo_container">
                  <a href="#">
                    <div class="footer_logo_text">GT<span>M</span></div>
                  </a>
                </div>
              </div>

            </div>

            <div class="col-lg-3 footer_col">

              <!-- Footer Contact -->
              <div class="footer_section footer_contact">
                <div class="footer_title"><%= t "static_pages.base.contact" %></div>
                <div class="footer_contact_info">
                  <ul>
                    <li><%= t "static_pages.base.company_mail" %></li>
                    <li><%= t "static_pages.base.company_local" %></li>
                  </ul>
                </div>
              </div>

            </div>

            <div class="col-lg-3 footer_col">

              <!-- Footer links -->
              <div class="footer_section footer_links">
                <div class="footer_title"><%= t "static_pages.base.contact" %></div>
                <div class="footer_links_container">
                  <ul>
                    <li><a href="#"><%= t "static_pages.home.title" %></a></li>
                    <li><a href="#"><%= t "static_pages.about.title" %></a></li>
                  </ul>
                </div>
              </div>

            </div>

            <div class="col-lg-3 footer_col clearfix">

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
