<header class="header">

  <!-- Top Bar -->
  <% unless logged_in? %>
  <div class="top_bar">
    <div class="top_bar_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
              <ul class="top_bar_contact_list">
                <li>
                  <div><%= t "static_pages.base.company_name" %></div>
                </li>
                <li>
                  <div><%= t "static_pages.base.company_mail" %></div>
                </li>
              </ul>
              <div class="top_bar_login ml-auto">
                <div class="login_button">
                <%= link_to t("static_pages.base.login_register"), login_path %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <!-- Header Content -->
  <div class="header_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <div class="logo_container">
              <%= link_to root_path do %>
                <div class="logo_text">GT<span>M</span></div>
              <% end %>
            </div>
            <nav class="main_nav_contaner ml-auto">
              <ul class="main_nav">
                <li class="active"><%= link_to t("static_pages.home.title"), root_url %></li>

                <% if logged_in? %>
                  <% if current_user.member? %>
                    <li><%= link_to t("static_pages.group.title"), groups_path %></a></li>
                    <li><%= link_to t("static_pages.report.title"), current_user %></a></li>
                  <% elsif current_user.leader? %>
                    <li><%= link_to t("static_pages.group.group_management"), current_user %></a></li>
                  <% end %>
                  <li class="dropdown">
                  <%= link_to "#", {class: "dropdown-toggle", "data-toggle": "dropdown"} do %>
                    <%= t"profile.account" %> <b class="caret"></b>
                  <% end %>
                  <ul class="dropdown-menu">
                    <% if current_user.admin? %>
                      <div class="dropdown-item"><%= link_to t("profile.control"), admin_users_path %></div>
                    <% end %>
                    <div class="dropdown-item"><%= link_to t("profile.profile"), edit_user_path(current_user.id) %></div>
                    <div class="dropdown-item">
                      <%= link_to t("profile.logout"), logout_path, method: :delete %>
                    </div>
                  </ul>
                </li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
