<header class="header">

  <!-- Top Bar -->
  <div class="top_bar">
    <div class="top_bar_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
              <ul class="top_bar_contact_list">
                <li>
                  <div><%= t "static_pages.base.company_name" %></div>
                </li>
                <li>
                  <div><%= t "static_pages.base.company_mail" %></div>
                </li>
              </ul>
              <div class="top_bar_login ml-auto">
                <div class="login_button"><a href="#"><%= t "static_pages.base.login_register" %></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Content -->
  <div class="header_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <div class="logo_container">
              <a href="#">
                <div class="logo_text">GT<span>M</span></div>
              </a>
            </div>
            <nav class="main_nav_contaner ml-auto">
              <ul class="main_nav">
                <li class="active"><a href="#"><%= t "static_pages.home.title" %></a></li>
                <li><a href="#"><%= t "static_pages.about.title" %></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
