<header class="header">

  <!-- Top Bar -->

  <div class="top_bar">
    <div class="top_bar_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
              <ul class="top_bar_contact_list">
                <li>
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                  <div><%= t "static_pages.base.company_name" %></div>
                </li>

                <li>
                  <i class="fa fa-building" aria-hidden="true"></i>
                  <div><%= t "static_pages.base.company_local" %></div>
                </li>
                <li>
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <div><%= t "static_pages.base.company_phone" %></div>
                </li>
                <li>
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  <div><%= t "static_pages.base.company_mail" %></div>
                </li>
              </ul>
              <% unless user_signed_in? %>
                <div class="top_bar_login ml-auto">
                  <div class="login_button">
                    <%= link_to t("static_pages.base.login_register"), new_user_session_path %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Content -->
  <div class="header_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <div class="logo_container">
              <%= link_to root_path do %>
                <div class="logo_text">GT<span>M</span></div>
              <% end %>
            </div>
            <nav class="main_nav_contaner ml-auto">
              <ul class="main_nav">
                <li class="active"><%= link_to t("static_pages.home.title"), root_url %></li>
                <% if user_signed_in? %>
                  <li><%= link_to t("static_pages.group.title"), groups_path %></a></li>
                  <li><%= link_to t("static_pages.report.title"), current_user %></a></li>
                  <% if current_user.leader? %>
                    <li><%= link_to t("static_pages.group.group_management"), current_user %></a></li>
                  <% end %>
                  <li class="dropdown">
                    <%= link_to "#", {class: "dropdown-toggle", "data-toggle": "dropdown"} do %>
                      <%= t "profile.account" %> <b class="caret"></b>
                    <% end %>
                    <ul class="dropdown-menu">
                      <% if current_user.admin? %>
                        <div class="dropdown-item"><%= link_to t("profile.control"), admin_users_path %></div>
                      <% end %>
                      <div class="dropdown-item"><%= link_to t("profile.edit_profile"), edit_user_path(current_user.id) %></div>
                      <% if current_user.member? %>
                        <div class="dropdown-item"><%= link_to t("profile.upgrade_leader"), upgrade_user_path(current_user.id) %></div>
                    <% end %>
                      <div class="dropdown-item">
                        <%= link_to t("profile.logout"), destroy_user_session_path, method: :delete %>
                      </div>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
