<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= link_to "English", locale: "en" %>
    <%= link_to "Vietnamese", locale: "vi" %>
    <%= render "layouts/header" %>
      <div class="context_1">
        <% flash.each do |message_type, message| %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        <% end %>
      <div class="context">
        <%= yield %>
      </div>
      </div>
    <%= render "layouts/footer" %>
  </body>
</html>
